{% extends "base.html" %}

{% block "content" %}
<h4>Prašome įveskiti skaitiklių "IKI" parodymus </h4>
    <form method="post" action="{% url 'skaitikliai' %}">
        {% csrf_token %}

        <label for="saltas_vonios">Iki (Šaltas vonios):</label>
        <input type="number" id="saltas_vonios" name="saltas_vonios" required
               value="{{ skaitikliai.saltas_vonios|default_if_none:'' }}"><br><br>

        <label for="saltas_virtuves">Iki (Šaltas virtuvės):</label>
        <input type="number" id="saltas_virtuves" name="saltas_virtuves" required
               value="{{ skaitikliai.saltas_virtuves|default_if_none:'' }}"><br><br>

        <label for="karstas_vonios">Iki (Karštas vonios):</label>
        <input type="number" id="karstas_vonios" name="karstas_vonios" required
               value="{{ skaitikliai.karstas_vonios|default_if_none:'' }}"><br><br>

        <label for="karstas_virtuves">Iki (Karštas virtuvės):</label>
        <input type="number" id="karstas_virtuves" name="karstas_virtuves" required
               value="{{ skaitikliai.karstas_virtuves|default_if_none:'' }}"><br><br>

        <input type="submit" value="Išsaugoti">
    </form>
{% if message %}
<p>{{ message }}</p>
{% endif %}<br>
<script>
function validateForm() {
    let saltas_vonios = document.getElementById("saltas_vonios").value;
    let saltas_virtuves = document.getElementById("saltas_virtuves").value;
    let karstas_vonios = document.getElementById("karstas_vonios").value;
    let karstas_virtuves = document.getElementById("karstas_virtuves").value;

    if (saltas_vonios === "" || saltas_virtuves === "" || karstas_vonios === "" || karstas_virtuves === "") {
        alert("Prašome įvesti IKI reiksmes į visus laukus");
        return false;
    }
}
</script>

<nav>-->
    <a href="{% url 'vartotojo_profilis' %}">Atgal į vartotojo profilį</a>
    <a href="{% url 'saskaita_list' %}">Sąskaitos</a>

</nav>
{% endblock %}