<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block "title" %}
    Daugiabučių namų savininkų bendrija STATYBA
        {% endblock %}</title>
</head>
<body>
<header>


    <h1>Daugiabučių namų savininkų bendrija STATYBA</h1>

</header>
<main>
    <div class="container py-5">
        {% if user.is_authenticated %}
            Esate prisijungęs su el. paštu  {{ user.email }}<br>
            <a href="{% url 'logout' %}">Atsijungti</a>
        {% else %}
            <a href="{% url 'login' %}">Prisijungti</a>
            <a href="{% url 'registration' %}">Registruotis</a>
        {% endif %}
    </div>
{% block "content" %}


{% endblock %}
<!--{% block "Turinys" %}-->

<!--{% endblock %}-->
</main>
</body>
</html>